  
<li class="undevoured-list">
	{{id}}.{{burger_name}}
	<button type="button" class="btn btn-primary btn-sm devour-button" data-id="{{id}}" data-devoured="{{devoured}}">
	 {{#if devoured}}Devour it!{{else}}I Want Another!{{/if}}
	</button>
</li>
